# Creating time series

In [3]:
import pandas as pd

In [7]:
# 72 hours starting with midnight Jan 1st, 2011
rng = pd.date_range('1/1/2011', periods=72, freq='H')

In [8]:
rng

DatetimeIndex(['2011-01-01 00:00:00', '2011-01-01 01:00:00',
               '2011-01-01 02:00:00', '2011-01-01 03:00:00',
               '2011-01-01 04:00:00', '2011-01-01 05:00:00',
               '2011-01-01 06:00:00', '2011-01-01 07:00:00',
               '2011-01-01 08:00:00', '2011-01-01 09:00:00',
               '2011-01-01 10:00:00', '2011-01-01 11:00:00',
               '2011-01-01 12:00:00', '2011-01-01 13:00:00',
               '2011-01-01 14:00:00', '2011-01-01 15:00:00',
               '2011-01-01 16:00:00', '2011-01-01 17:00:00',
               '2011-01-01 18:00:00', '2011-01-01 19:00:00',
               '2011-01-01 20:00:00', '2011-01-01 21:00:00',
               '2011-01-01 22:00:00', '2011-01-01 23:00:00',
               '2011-01-02 00:00:00', '2011-01-02 01:00:00',
               '2011-01-02 02:00:00', '2011-01-02 03:00:00',
               '2011-01-02 04:00:00', '2011-01-02 05:00:00',
               '2011-01-02 06:00:00', '2011-01-02 07:00:00',
               '2011-01-02 08:00:00', '2011-01-02 09:00:00',
               '2011-01-02 10:00:00', '2011-01-02 11:00:00',
               '2011-01-02 12:00:00', '2011-01-02 13:00:00',
               '2011-01-02 14:00:00', '2011-01-02 15:00:00',
               '2011-01-02 16:00:00', '2011-01-02 17:00:00',
               '2011-01-02 18:00:00', '2011-01-02 19:00:00',
               '2011-01-02 20:00:00', '2011-01-02 21:00:00',
               '2011-01-02 22:00:00', '2011-01-02 23:00:00',
               '2011-01-03 00:00:00', '2011-01-03 01:00:00',
               '2011-01-03 02:00:00', '2011-01-03 03:00:00',
               '2011-01-03 04:00:00', '2011-01-03 05:00:00',
               '2011-01-03 06:00:00', '2011-01-03 07:00:00',
               '2011-01-03 08:00:00', '2011-01-03 09:00:00',
               '2011-01-03 10:00:00', '2011-01-03 11:00:00',
               '2011-01-03 12:00:00', '2011-01-03 13:00:00',
               '2011-01-03 14:00:00', '2011-01-03 15:00:00',
               '2011-01-03 16:00:00', '2011-01-03 17:00:00',
               '2011-01-03 18:00:00', '2011-01-03 19:00:00',
               '2011-01-03 20:00:00', '2011-01-03 21:00:00',
               '2011-01-03 22:00:00', '2011-01-03 23:00:00'],
              dtype='datetime64[ns]', freq='H')

In [10]:
import numpy as np

In [20]:
# poisson: lam = average number of events, size how many values needed
ts = pd.DataFrame(np.random.poisson(lam=10, size=len(rng)), index=rng, columns=["admissions"])

In [21]:
ts

                     admissions
2011-01-01 00:00:00          10
2011-01-01 01:00:00           6
2011-01-01 02:00:00           5
2011-01-01 03:00:00          12
2011-01-01 04:00:00           7
...                         ...
2011-01-03 19:00:00           7
2011-01-03 20:00:00          10
2011-01-03 21:00:00           6
2011-01-03 22:00:00          13
2011-01-03 23:00:00           7

[72 rows x 1 columns]

# Accessing and grouping

In [22]:
ts.mean()

admissions    9.791667
dtype: float64

In [24]:
ts.loc['2011-01-01 03:00']

admissions    12
Name: 2011-01-01 03:00:00, dtype: int32

In [25]:
ts.loc['2011-01-01 03:00' : '2011-01-02 23:00']

                     admissions
2011-01-01 03:00:00          12
2011-01-01 04:00:00           7
2011-01-01 05:00:00          11
2011-01-01 06:00:00           8
2011-01-01 07:00:00           5
2011-01-01 08:00:00          11
2011-01-01 09:00:00          14
2011-01-01 10:00:00          16
2011-01-01 11:00:00           9
2011-01-01 12:00:00           9
2011-01-01 13:00:00          12
2011-01-01 14:00:00          13
2011-01-01 15:00:00           7
2011-01-01 16:00:00          12
2011-01-01 17:00:00           9
2011-01-01 18:00:00          11
2011-01-01 19:00:00           8
2011-01-01 20:00:00          11
2011-01-01 21:00:00          14
2011-01-01 22:00:00           9
2011-01-01 23:00:00          10
2011-01-02 00:00:00          12
2011-01-02 01:00:00           9
2011-01-02 02:00:00          15
2011-01-02 03:00:00          12
2011-01-02 04:00:00           6
2011-01-02 05:00:00           7
2011-01-02 06:00:00           8
2011-01-02 07:00:00           8
2011-01-02 08:00:00           9
2011-01-02 09:00:00           3
2011-01-02 10:00:00           9
2011-01-02 11:00:00          14
2011-01-02 12:00:00           6
2011-01-02 13:00:00          12
2011-01-02 14:00:00          12
2011-01-02 15:00:00           6
2011-01-02 16:00:00           6
2011-01-02 17:00:00           8
2011-01-02 18:00:00          12
2011-01-02 19:00:00          11
2011-01-02 20:00:00          12
2011-01-02 21:00:00          12
2011-01-02 22:00:00          15
2011-01-02 23:00:00           7

In [26]:
ts.loc['2011-01-02 00:00' : '2011-01-02 23:00'].mean()

admissions    9.625
dtype: float64

We can resample (or aggregate) or dataset

In [28]:
ts.resample('D').mean()

            admissions
2011-01-01    9.958333
2011-01-02    9.625000
2011-01-03    9.791667